.container {
	height: 100%;
}

.field {
	display: grid;
	grid-template-columns: repeat(3, 200px);
}

.field > h1 {
	display: flex;
	width: 200px;
	height: 200px;
	margin: 0;
	align-items: center;
	justify-content: center;
	font-size: 7rem;
	font-family: monospace;
	color: black;
}

.field > h1:nth-child(odd) {
	border: 3px solid black;
}

.field > h1:nth-child(5) {
	border: none;
}

.field > h1:nth-child(2),
.field > h1:nth-child(8) {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.field > h1:nth-child(4),
.field > h1:nth-child(6) {
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.field > h1:nth-child(1) {
	border-top-left-radius: 15px;
}

.field > h1:nth-child(3) {
	border-top-right-radius: 15px;
}

.field > h1:nth-child(7) {
	border-bottom-left-radius: 15px;
}

.field > h1:nth-child(9) {
	border-bottom-right-radius: 15px;
}
